.content-section {
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

#load {
  align-items: center;
  display: flex;
  justify-content: center;
}

.buttons {
 padding-top: 90px;
}

#new_model {
margin-right:35px;
}

.modal-body > .img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-header > .modal-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

