<!DOCTYPE html>
<html>

<head>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet" type="text/css">


</head>

<body>

<div class="container-fluid" id="body_content">
    <div class="row">
        <div class="col">
            AutoML Logo
        </div>
        <div class="col">
            AutoML
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-md-1">
            <a href="{{ url_for('register') }}">New Model</a>
        </div>
        <div class="col-md-1">
            <a href=" {{ url_for('predict') }}">Predict</a>
        </div>
        <div class="col-md-5">

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4" id="box" >
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>

<div id="loading">
    <img alt="Training in progress.." src="{{ url_for('static',filename='loading-hourglass.gif') }}">
</div>

<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>



        document.getElementById("loading").style.height = "0%";
        document.getElementById('loading').style.visibility="hidden";

$(document).ready(function(){
$( "#input_form" ).submit(function( event ) {
  $("#box").append("<img alt='Training in progress..' src='{{ url_for('static',filename='loading-hourglass.gif') }}' width='200px' height='200px' >");
});
});

<!--    document.getElementById('load').style.height="0%";-->
    function doSomething(){



    }




</script>
</body>

</html>