{% extends "home.html" %}
{% block content %}
<div class="content-section">
    <div class="form-group">
        Accuracy
    </div>
    <div class="form-group">
        {{ score*100 }} %
    </div>

    <div class="form-group">
        <a download href="/download_model/{{ model_file }}">
            <img alt="Download" class="image-hover-highlight" height="30px"
                 src="{{ url_for('static',filename='download.png') }}"
                 width="30px">
        </a>
        <div class="form-group">
            Click to Download Model file
        </div>
    </div>
     <div class="form-group">
        <a download href="{{ url_for('uploaded_encoding_file',filename='encoding_file.obj') }}">
            <img alt="Download" class="image-hover-highlight" height="30px"
                 src="{{ url_for('static',filename='download.png') }}"
                 width="30px">
        </a>
        <div class="form-group">
            Click to Download Encoding file
        </div>
    </div>
     <div class="form-group">
        <a download href="{{ url_for('uploaded_scaling_file',filename='scaling.pkl') }}">
            <img alt="Download" class="image-hover-highlight" height="30px"
                 src="{{ url_for('static',filename='download.png') }}"
                 width="30px">
        </a>
        <div class="form-group">
            Click to Download Scaling file
        </div>
    </div>
</div>
{% endblock content %}